.header-linkbar-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linkbar {
  background: $primary;
  width: 100%;
  padding: 8px 16px;

  a {
    width: 100%;
    text-align: center;
    color: $white;
    font-family: $font-primary;
    letter-spacing: 0.015em;
  }
}

header {
  padding: 16px 0;

  @include bp(sm) {
    padding: 24px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

    padding: 0 16px;
    max-width: 1920px;
    margin: 0 auto;

    @include bp(xs) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @include bp(sm) {
      padding: 0 24px;
    }
  }
}

footer {
  padding: 16px 0;

  @include bp(sm) {
    padding: 24px 0;
  }

  .container {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 1920px;
    margin: 0 auto;

    @include bp(sm) {
      padding: 0 24px;
    }

    @include bp(md) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .copyright {
    font-weight: 500;
    font-size: 14px;
  }
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 32px);
  max-width: 400px;
  background: $primary-light;
}

.page-section {
  padding: 16px 0;

  @include bp(sm) {
    padding: 24px 0;
  }

  .container {
    padding: 0 16px;
    max-width: 1920px;
    margin: 0 auto;

    @include bp(sm) {
      padding: 0 24px;
    }
  }
}

.btn {
  font-family: $font-primary;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.015em;
  text-transform: lowercase;
  color: $primary;
  background: $cream;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  padding: 12px 40px;
  max-width: 320px;
  margin: 0 auto;

  @include bp(sm) {
    width: fit-content;
  }
}

.header-nav {
  position: relative;
  display: flex;
  width: fit-content;
  margin-right: auto;

  @include bp(xs) {
    margin-right: initial;
  }

  .animation {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: $cream;
    border-radius: 8px;
    transition: all .5s ease 0s;
    opacity: 0;
    width: 96px;

    @media (hover: none) {
      display: none !important;
    }
  }

  a,
  button {
    font-family: $font-primary;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.015em;
    text-transform: lowercase;
    color: $primary;

    position: relative;
    display: inline-block;
    text-align: center;
    z-index: 5;
    width: 96px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    &:hover~.animation {
      opacity: 1;
    }

    &:nth-child(1):hover~.animation {
      left: 0;
    }

    &:nth-child(2):hover~.animation {
      left: 96px;
    }

    &:nth-child(3):hover~.animation {
      left: 192px;
    }

    @media (hover: none) {
      padding: 8px 12px;
      background: $cream;
      border-radius: 8px;
      width: fit-content;

      &+a,
      &+button {
        margin-left: 8px;
      }
    }
  }
}

.fr_funraise.fr_toast {
  pointer-events: none !important;
}

.mailchimp-form {
  width: 100%;

  @include bp(sm) {
    max-width: 420px;
  }

  form {
    background: $cream;
    border-radius: 8px;
    overflow: hidden;
    padding: 8px;

    &>div {
      display: grid;
      grid-template-columns: 1fr;
      gap: 8px;
      align-items: center;

      @include bp(xs) {
        grid-template-columns: 1fr auto;
      }
    }

    input[type=email],
    input[type=email] {
      background: transparent;
      border: none;
      font-weight: 400;
      font-family: $font-primary;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.015em;
      text-transform: lowercase;
      color: $black;
      text-align: left;
      width: 100%;
      border-radius: 8px;
      min-height: 32px;
      padding: 8px 4px;

      &:focus {
        background: $gray;
      }
    }

    input[type=submit] {
      -webkit-appearance: none;
      background: $primary;
      border: none;
      font-family: $font-primary;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.015em;
      text-transform: lowercase;
      color: $white;
      padding: 8px 12px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      min-height: 32px;

      @include bp(mobile-only) {
        width: 100%;
      }

      &:hover {
        cursor: pointer;
        color: $gray;
      }
    }
  }
}


